.menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 220px;

    background: linear-gradient(#111, #222);
    padding: 20px;
    z-index: 999;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

/* logo */
.logo {
    color: white;
    margin-bottom: 20px;
}
.menuicon{
    z-index: 1000;
    position: fixed;
    top: 50%;
    right: 2px;
}

.menu {
  position: fixed;
  left: -290px;
  top: 0;
  width: 250px;
  transition: 0.3s;
  opacity: 0;
  animation: FadeIn 1s forwards;
}

.menu.active {
  left: 0;
}

/* items */
.item {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    transition: all 0.3s ease;
}

/* hover effect */
.item:hover {
    background: linear-gradient(45deg, #5f5fff, #9d7bff);
    transform: translateX(5px);
}
@media (min-width: 768px) {
    .menu{
        display: none;
    }
}
@keyframes FadeIn {
    to{
        opacity: 1;
    }
}